html {
	background-color: #dbd6cf;
}

h1 {
	font-weight: normal;
	font-size: 5rem;
	font-style: bold;
	font-family: 'Bevan', cursive;
	line-height: 1.5;
}

ol{
	list-style-type:none;
	padding:0;
}

h2 {
	font-weight: normal;
	font-size: 3rem;
	font-style: bold;
	font-family: 'Bevan', cursive;
	line-height: 1.5;
}

.plan{
	color: #79756f;
}
